@inject INopHtmlHelper NopHtml

@{
    NopHtml.AddCssFileParts("~/Plugins/Widgets.UniFi/styles/styles.css");
}

<div class="sync-price"></div>
<div class="affirm">
    <div class="instore-img">
        <img src="https://www.abcwarehouse.com/images/uploaded/financing/affirmlogo.jpg" alt="Affirm" />
        <img src="https://www.abcwarehouse.com/images/uploaded/creditcards.jpg" alt="Apple" />
        <img src="https://www.abcwarehouse.com/images/uploaded/klarna.png" alt="Klarna" />
    </div>
    <div class="in-store">
        Available in-store only.
    </div>
</div>