@inject INopHtmlHelper NopHtml

@{
    NopHtml.AddCssFileParts("~/Plugins/Widgets.UniFi/styles/styles.css");
}

<div class="sync-price"></div>
<div class="affirm">
    <div class="instore-img">
        <img src="https://www.abcwarehouse.com/images/uploaded/financing/affirmlogo.jpg" alt="Affirm" />
        <img src="https://www.abcwarehouse.com/images/uploaded/applepay.png" alt="Apple" />
        <img src="https://www.abcwarehouse.com/images/uploaded/klarna.png" alt="Klarna" />
    </div>
    <div class="in-store">
        Available in-store only.
    </div>
</div>

<style>
.affirm img {
    max-width: 60px;
    margin-right: 3px;
}
.affirm {
    margin-bottom: 15px;
}

</style>