@model AbcWarehouse.Plugin.Misc.SearchSpring.Models.SearchSpringModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Plugin.Misc.AbcFrontend.Services
@using Nop.Web.Framework.Infrastructure
@using Nop.Plugin.Misc.AbcCore.Services

@inject FrontEndService frontEndService
@* custom *@
@inject IStoreContext storeContext

@{
    bool isHawthorne = frontEndService.StoreIsHawthorne(await storeContext.GetCurrentStoreAsync());

    string url = isHawthorne ?
                "https://hawthorne.abcwarehouse.com/search?w=" :
                "https://appliances.abcwarehouse.com/search?w=";

    string action = isHawthorne ?
        "//hawthorne.abcwarehouse.com/search" :
        "//appliances.abcwarehouse.com/search";
}

    <!-- Search Form -->
    <div class="search-container">
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Type to search..." autocomplete="off" />
            <button type="submit">Search</button>
        </form>
    </div>


    <!-- Container to display the search results -->
    <div id="searchResults" class="search-container">

    </div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const query = document.getElementById('searchInput').value.trim();
            if (query) {
                window.location.href = '/searchspring/results?q=' + encodeURIComponent(query);
            }
        });
    </script>