@model AbcWarehouse.Plugin.Misc.SearchSpring.Models.SearchSpringModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Plugin.Misc.AbcFrontend.Services
@using Nop.Web.Framework.Infrastructure
@using Nop.Plugin.Misc.AbcCore.Services

@inject FrontEndService frontEndService
@* custom *@
@inject IStoreContext storeContext

@{
    bool isHawthorne = frontEndService.StoreIsHawthorne(await storeContext.GetCurrentStoreAsync());

    string url = isHawthorne ?
                "https://hawthorne.abcwarehouse.com/search?w=" :
                "https://appliances.abcwarehouse.com/search?w=";

    string action = isHawthorne ?
        "//hawthorne.abcwarehouse.com/search" :
        "//appliances.abcwarehouse.com/search";
}

    <!-- Spring Container -->
    <div class="search-container">
        <form id="searchForm" method="get" action="/SearchSpring/Results">
            <input type="text" name="term" id="searchInput" placeholder="Buy Or Face The Wrath Of IT..." autocomplete="off" required />
            <button type="submit">Search Or Else!</button>
        </form>
    </div>


    <!-- Container to display the search results -->
    <div id="searchResults" class="search-container">

    </div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form behavior

            const input = document.getElementById('searchInput');
            const query = input.value.trim();

            if (query) {
                const targetUrl = '/SearchSpring/Results?term=' + encodeURIComponent(query);
                window.location.href = targetUrl; // Redirect to results page
            }
        });
    </script>