.voyage .page-title h1 {
    font-family: 'Poppins', sans-serif !important;
}

.voyage .abc-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem 0
}

.voyage .abc-item {
    margin: 5px auto;
    background: #fff;
    line-height: 25px;
    padding: 1rem;
    flex: 0 0 16rem
}

.voyage .abc-item a {
    text-decoration: none;
    font-weight: bold
}

.voyage .abc-item a:hover {
    text-decoration: underline
}

.voyage .abc-item.abc-promo-item {
    border: solid 2px #eee;
    box-shadow: 3px 4px 5px #eee;
}

.voyage .slick-carousel.item-grid.slick-initialized.slick-slider.slick-dotted {
    display: block !important;
}

.voyage .home-page ul.slick-dots {
    display: none !important;
}

*:before, *:after {
    font-family: 'voyage-icons';
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.voyage .nop-jcarousel .slick-prev:before {
    content: "";
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 8px;
    border: solid 2px #eee;
}

.voyage .nop-jcarousel .slick-next:after {
    content: "";
    font-size: 14px;
    padding: 10px 15px;
    margin-left: 8px;
    border: solid 2px #eee;
}
.voyage .details {
    padding: 0px 10px;
}

.voyage button.slick-next.slick-arrow {
    float: right;
}

.voyage button.slick-prev.slick-arrow {
    float: left;
}

.voyage form#product-details-form .gallery {
    font-size: inherit;
}

.voyage .product-grid .item-box {
    padding: 8px;
}
.voyage .page .jcarousel {
    width: auto;
}
.voyage div#select_category_item {
    display: none;
}
.voyage span.corner-picture {
    display: none;
    z-index: 5;
}
.voyage .category-page-body .product-list .voyage .ribbon-wrapper+.details {
    margin: auto;
}

.voyage .category-page-body .product-list .item-box .voyage .product-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
}
.voyage .product-list .item-box .voyage .product-title a {
    text-decoration: none;
}
.voyage .category-page-body .product-list .item-box .product-title .add-info {
    margin-top: 5px;
}
.voyage .category-page-body .voyage p.product-box-description {
    line-height: 1.25em;
    height: auto;
    margin: 0;
}

.voyage .category-page-body .product-list .item-box .voyage .add-info {
    display: block;
    margin-top: 5px;
}

.voyage .voyage .add-info p {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 14px;
}
.voyage .description br {
    display: none;
}


.voyage button.product-box-add-to-cart-button {
    background: #e42229;
    width: 100%;
    padding: 10px 4px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}
.voyage button.product-box-add-to-cart-button:hover {
    background: #b95559;
    color: #fff;
}
.voyage span.price.you-save {
    background: #e42229;
    font-weight: bold;
    padding: 5px 5px;
    color: #fff;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
    box-shadow: #535353 4px 3px 9px;
}
.voyage hr {
    margin: 40px 0px;
}
.voyage .item-box .picture a:before {
    padding-top: 100%;
}
.voyage .product-list .item-box+.item-box {
    margin-top: 0px;
}
.voyage span.open-box-price {
    color: #e42229;
}
.voyage span.price-sale-tag {
    background: #fffd08;
    font-weight: bold;
    padding: 5px 5px;
    color: #000;
    margin-left: -3px;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    box-shadow: #535353 4px 3px 9px;
}
.voyage span.price.actual-price {
    font-size: 26px;
}
.voyage .short-description table {
    width: 100% !important;
}
.home-page-body.voyage .product-item.voyage .col-md-6 {
    width: 100%;
}

.voyage .product-list .ribbon-wrapper+.details {
    margin: auto;
    width: 100%;
}

.product-list .voyage .product-title a {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
.product-list .voyage .product-title h2 {
    margin-bottom: 10px;
}
.product-list .item-box .voyage .add-info {
    margin-top: 10px;
}