@model decimal

@{
    Html.AddCssFileParts("~/Plugins/Widgets.PercentOffAppliancesMessage/styles/style.css");
}

<div id="percent-off-appliances-message" style="font-weight: bold;">        
        @{
            if(Model >= 596.00M)
            {
                <div class="in-store-container">
                    <div class="left-in-store">
                        <div class="left-store-text">
                            GET THE BEST<br />
                            DEAL IN STORE
                        </div>
                    </div>
                    <div class="right-in-store">
                        <div class="right-store-text">
                            SAVE AN ADDITIONAL 5% OFF INSTANTLY IN STORE! <br />
                            PLUS, FOR A LIMITED TIME, <br />
                            <span>PAY ONLY $@(Model - 50)</span> <a href="/policies-information#10-percent-offer" target="_blank">
                            <span class="learn-more-text">Learn More</span></a>
                        </div>
                    
                    </div>
                </div>
            }
            else
            {
                <div class="in-store-container">
                    <div class="left-in-store">
                        <div class="left-store-text">
                            GET THE BEST<br />
                            DEAL IN STORE
                        </div>
                    </div>
                    <div class="right-in-store">
                        <div class="right-store-text">
                            SAVE AN ADDITIONAL 5% OFF INSTANTLY IN STORE! <br />
                            <span>PAY ONLY $@(Model)</span> <a href="/policies-information#10-percent-offer" target="_blank">
                            <span class="learn-more-text">Learn More</span></a>
                        </div>
                    
                    </div>
                </div>
            }

        }
        <a href="/policies-information#10-percent-offer" target="_blank">
        <span class="learn-more-text">Learn More</span></a>
</div>