@* Was not able to find the actual Syndigo script in the header 
    1. Not in HTML Widgets
    2. Not in any source code.

    This will work for the time being but finding the script and including
    in this plugin is ideal
*@

<!-- Syndigo Content Display -->
<div id="wc-power-page"></div>
<div id="ccs-inline-content" style="position: relative; top: 69px;"></div>
<div id="sp_inline"></div>