<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <!-- Remove WebDAV module so that we can make DELETE requests -->
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <!-- Remove WebDAV module so that we can make DELETE requests -->
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- When deploying on Azure, make sure that "dotnet" is installed and the path to it is registered in the PATH environment variable or specify the full path to it -->
    <aspNetCore requestTimeout="23:00:00"
                processPath="%LAUNCHER_PATH%"
                arguments="%LAUNCHER_ARGS%"
                forwardWindowsAuthToken="false"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                startupTimeLimit="3600"
                hostingModel="InProcess">
    </aspNetCore>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />

        <!-- Protects against XSS injections -->
        <add name="X-XSS-Protection" value="1; mode=block" />

        <!-- Removed X-Frame-Options so CSP can control framing -->
        <remove name="X-Frame-Options" />

        <!-- Protects against MIME-type confusion attack -->
        <add name="X-Content-Type-Options" value="nosniff" />

        <!-- Protects against Clickjacking attacks -->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />

        <add name="Access-Control-Allow-Origin" value="*" />

        <!-- Updated CSP to allow external iframing (frame-ancestors *) -->
        <add name="Content-Security-Policy"
             value="
                default-src 'self';
                connect-src *;
                font-src * data:;
                frame-src *;
                frame-ancestors *;
                img-src * data:;
                media-src *;
                object-src *;
                script-src * 'unsafe-inline' 'unsafe-eval';
                style-src * 'unsafe-inline';
             " />

        <!-- Prevents leaking referrer data (removed to allow Synchrony) -->
        <add name="Referrer-Policy" value="same-origin" />

        <!-- Controls which browser APIs can be used -->
        <add name="Permissions-Policy"
             value="accelerometer=(), camera=(), geolocation=*, gyroscope=(), magnetometer=(), microphone=(), payment=*, usb=()" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
